<div class="col-md-12 col-md-offset-2">
  <h1>Teams </h1>
  <app-teampartial></app-teampartial>
  <div class="container">
    <h2>Striped Rows example</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Team Name</th>
        <th>Score</th>
        <th>Challenge Count</th>
        <th>Members</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Lorem Ipsum</td>
        <td>1337</td>
        <td>46</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Dolor sit amet </td>
        <td>9000</td>
        <td>158</td>
        <td>View</td>
      </tr>
      <tr>
        <td>consectetur adipiscing elit</td>
        <td>178</td>
        <td>5</td>
        <td>View</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
