<div class="col-md-8 col-md-offset-2">
  <h1>Sign up</h1>
  <hr />
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        formControlName="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        formControlName="lastName">
    </div>
    <div class="form-group">
      <label for="userName">Username</label>
      <input
        type="text"
        id="userName"
        class="form-control"
        formControlName="userName">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        formControlName="password">
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm password</label>
      <input
        type="password"
        id="confirmPassword"
        class="form-control"
        formControlName="confirmPassword">
    </div>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!registerForm.valid">Submit</button>
  </form>
</div>
