<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']">Scavenger Hunt</a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active"><a [routerLink]="['/teams']">Teams</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/challenges']">Challenges</a></li>
      <li routerLinkActive="active"><a [routerLink]="['/judge']">Judge</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a [routerLink]="['/auth']"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a [routerLink]="['/auth']"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
