<div class="col-md-12 col-md-offset-2">
  <h1>Teams </h1>
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Create a new Team here</h3>
          <p>Create Explanation here</p>
          <button type="button" class="btn btn-default">Create</button>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Join a Team here</h3>
          <p>Join Explanation here</p>
          <button type="button" class="btn btn-default">Join</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2>Striped Rows example</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Team Name</th>
        <th>Score</th>
        <th>Challenge Count</th>
        <th>Members</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Lorem Ipsum</td>
        <td>1337</td>
        <td>46</td>
        <td>View</td>
      </tr>
      <tr>
        <td>Dolor sit amet </td>
        <td>9000</td>
        <td>158</td>
        <td>View</td>
      </tr>
      <tr>
        <td>consectetur adipiscing elit</td>
        <td>178</td>
        <td>5</td>
        <td>View</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
