<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Create a new Team here</h3>
        <p>Create Explanation here</p>
        <button type="button" class="btn btn-default" [routerLink]="['/teams/createteam']">Create</button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3>Join a Team here</h3>
        <p>Join Explanation here</p>
        <button type="button" class="btn btn-default" [routerLink]="['/teams/jointeam']">Join</button>
      </div>
    </div>
  </div>
</div>
